.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-btn {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}